In [1]:
import pandas as pd
from matplotlib import dates as mpl_date
import matplotlib.pyplot as plt

In [2]:
dataCPU = pd.read_csv("CPU.csv")
dataCPU.drop(columns=dataCPU.columns[0], axis=1, inplace=True)
dataCPU.head()

       Time  Time_Elapsed  CPU_Precentage
0  14:15:34      0.104371             3.6
1  14:15:35      0.908265            18.7
2  14:15:35      1.108785            17.3
3  14:15:35      1.309632            16.0
4  14:15:35      1.510862             6.3

In [3]:
dataCPU.describe()

       Time_Elapsed  CPU_Precentage
count    143.000000      143.000000
mean      15.406429       17.124476
std        8.608283       13.490613
min        0.104371        1.200000
25%        8.055382        9.900000
50%       15.409714       13.600000
75%       22.758787       21.150000
max       30.107003       83.800000

In [5]:
dfH = []
dfm = []
dfs = []
for index, row in dataCPU.iterrows():
    timestamp = row['Time']
    H,m,s = timestamp.split(':')
    dfH.append(H)
    dfm.append(m)
    dfs.append(s)

dataCPU['H'] = dfH
dataCPU['m'] = dfm
dataCPU['s'] = dfs

print(type(dataCPU))
dataCPU

<class 'pandas.core.frame.DataFrame'>

         Time  Time_Elapsed  CPU_Precentage   H   m   s
0    14:15:34      0.104371             3.6  14  15  34
1    14:15:35      0.908265            18.7  14  15  35
2    14:15:35      1.108785            17.3  14  15  35
3    14:15:35      1.309632            16.0  14  15  35
4    14:15:35      1.510862             6.3  14  15  35
..        ...           ...             ...  ..  ..  ..
138  14:16:03     29.301640            11.5  14  16  03
139  14:16:03     29.502660            17.7  14  16  03
140  14:16:04     29.704011            19.2  14  16  04
141  14:16:04     29.905029            17.9  14  16  04
142  14:16:04     30.107003             2.5  14  16  04

[143 rows x 6 columns]

In [9]:
groupData = dataCPU.groupby(['H', 'm', 's'], as_index=False).mean()
groupData

     H   m   s  Time_Elapsed  CPU_Precentage
0   14  15  34      0.104371           3.600
1   14  15  35      1.209386          14.575
2   14  15  36      2.114677          12.840
3   14  15  37      3.121132          15.580
4   14  15  38      4.128148          23.900
5   14  15  39      5.135421          17.540
6   14  15  40      6.142965           8.540
7   14  15  41      7.249938           6.200
8   14  15  42      8.156177           7.720
9   14  15  43      9.263295          22.225
10  14  15  44     10.170208          17.360
11  14  15  45     11.179010           5.020
12  14  15  46     12.186455           8.220
13  14  15  47     13.192785          10.020
14  14  15  48     14.199596          15.460
15  14  15  49     15.107730          32.350
16  14  15  50     16.014916          32.600
17  14  15  51     17.021901          22.560
18  14  15  52     18.028682          15.720
19  14  15  53     19.035272          16.040
20  14  15  54     20.041922          18.760
21  14  15  55     21.048093          21.560
22  14  15  56     22.104510          24.725
23  14  15  57     23.060854          12.800
24  14  15  58     24.117749          18.950
25  14  15  59     25.073940          16.180
26  14  16  00     26.081404          20.560
27  14  16  01     27.088370          27.720
28  14  16  02     28.094908          21.420
29  14  16  03     29.100871          17.780
30  14  16  04     29.905348          13.200

In [12]:
Time = []
for index, row in groupData.iterrows():
    Time.append(row['H']+':'+row['m']+':'+row['s'])

newDF = pd.DataFrame()
newDF['Time'] = Time
newDF['CPU_Precentage'] = groupData['CPU_Precentage']
newDF['Time'] = pd.to_datetime(newDF['Time'])
newDF

                  Time  CPU_Precentage
0  2022-12-01 14:15:34           3.600
1  2022-12-01 14:15:35          14.575
2  2022-12-01 14:15:36          12.840
3  2022-12-01 14:15:37          15.580
4  2022-12-01 14:15:38          23.900
5  2022-12-01 14:15:39          17.540
6  2022-12-01 14:15:40           8.540
7  2022-12-01 14:15:41           6.200
8  2022-12-01 14:15:42           7.720
9  2022-12-01 14:15:43          22.225
10 2022-12-01 14:15:44          17.360
11 2022-12-01 14:15:45           5.020
12 2022-12-01 14:15:46           8.220
13 2022-12-01 14:15:47          10.020
14 2022-12-01 14:15:48          15.460
15 2022-12-01 14:15:49          32.350
16 2022-12-01 14:15:50          32.600
17 2022-12-01 14:15:51          22.560
18 2022-12-01 14:15:52          15.720
19 2022-12-01 14:15:53          16.040
20 2022-12-01 14:15:54          18.760
21 2022-12-01 14:15:55          21.560
22 2022-12-01 14:15:56          24.725
23 2022-12-01 14:15:57          12.800
24 2022-12-01 14:15:58          18.950
25 2022-12-01 14:15:59          16.180
26 2022-12-01 14:16:00          20.560
27 2022-12-01 14:16:01          27.720
28 2022-12-01 14:16:02          21.420
29 2022-12-01 14:16:03          17.780
30 2022-12-01 14:16:04          13.200

In [13]:
from pandasql import sqldf
sql = lambda q: sqldf(q, globals())
newDF = sqldf("SELECT * FROM newDF WHERE Time BETWEEN '2022-12-01 14:15:00' AND '2022-12-01 14:16:01'")
newDF

                          Time  CPU_Precentage
0   2022-12-01 14:15:34.000000           3.600
1   2022-12-01 14:15:35.000000          14.575
2   2022-12-01 14:15:36.000000          12.840
3   2022-12-01 14:15:37.000000          15.580
4   2022-12-01 14:15:38.000000          23.900
5   2022-12-01 14:15:39.000000          17.540
6   2022-12-01 14:15:40.000000           8.540
7   2022-12-01 14:15:41.000000           6.200
8   2022-12-01 14:15:42.000000           7.720
9   2022-12-01 14:15:43.000000          22.225
10  2022-12-01 14:15:44.000000          17.360
11  2022-12-01 14:15:45.000000           5.020
12  2022-12-01 14:15:46.000000           8.220
13  2022-12-01 14:15:47.000000          10.020
14  2022-12-01 14:15:48.000000          15.460
15  2022-12-01 14:15:49.000000          32.350
16  2022-12-01 14:15:50.000000          32.600
17  2022-12-01 14:15:51.000000          22.560
18  2022-12-01 14:15:52.000000          15.720
19  2022-12-01 14:15:53.000000          16.040
20  2022-12-01 14:15:54.000000          18.760
21  2022-12-01 14:15:55.000000          21.560
22  2022-12-01 14:15:56.000000          24.725
23  2022-12-01 14:15:57.000000          12.800
24  2022-12-01 14:15:58.000000          18.950
25  2022-12-01 14:15:59.000000          16.180
26  2022-12-01 14:16:00.000000          20.560

In [ ]:
plt.plot(newDF.Time, newDF.CPU_Precentage)
 
plt.title('CPU Usage Precentage')
plt.xticks(rotation=30, ha='right')

plt.xlabel('Time')
plt.ylabel('CPU Precentage')
plt.savefig('CPU.png')